@{
    ViewBag.Title = "Home Page";
}

<body onload="initiate();">
    <canvas id="canvas" width="640" height="640"></canvas>


    <div id="hiddenThings">
        <img id="wall0" src="http://i.imgur.com/01rh3Pg.jpg" width="32" height="32">
        <img id="wall1" src="http://i.imgur.com/01rh3Pg.jpg" width="32" height="32">
        <img id="wall2" src="http://i.imgur.com/rT0kORZ.jpg" width="32" height="32">
        <img id="floor0" src="http://i.imgur.com/lOPDudx.jpg" width="32" height="32">
        <img id="floor1" src="http://i.imgur.com/vxhPKEW.jpg" width="32" height="32">
        <img id="floor2" src="http://i.imgur.com/lOPDudx.jpg" width="32" height="32">
    </div>
</body>